<div class="auth-container">
    <mat-card>
      <span>Signup Form</span>
  
      <!-- Show spinner while loading -->
      <mat-spinner *ngIf="Loading"></mat-spinner>
  
      <!-- Signup Form -->
      <form (ngSubmit)="onSignup(signupForm)" #signupForm="ngForm" *ngIf="!Loading">
  
        <!-- Email -->
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input
            matInput
            type="email"
            name="email"
            ngModel
            required
            email
            #emailModel="ngModel">
          <mat-error *ngIf="signupForm.submitted && emailModel.invalid">
            Valid email is required
          </mat-error>
        </mat-form-field>
  
        <!-- Password -->
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input
            matInput
            type="password"
            name="password"
            ngModel
            required
            #passwordModel="ngModel">
          <mat-error *ngIf="signupForm.submitted && passwordModel.invalid">
            Password is required
          </mat-error>
        </mat-form-field>
  
        <!-- Submit Button -->
        <button mat-raised-button color="accent" type="submit">
          Sign Up
        </button>
        <mat-spinner *ngIf="Loading" diameter="30"></mat-spinner>
      </form>
    </mat-card>
  </div>
  