<div class="auth-container">
    <mat-card>

      <span>Login Form</span>
    
      <form (ngSubmit)="onLogin(loginForm)" #loginForm="ngForm">

        

        <!-- Email Field -->
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input
            matInput
            type="email"
            name="email"
            ngModel
            required
            email
            #emailModel="ngModel">
          <mat-error *ngIf="loginForm.submitted && emailModel.invalid">
            Valid email is required
          </mat-error>
        </mat-form-field>
  
        <!-- Password Field -->
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input
            matInput
            type="password"
            name="password"
            ngModel
            required
            #passwordModel="ngModel">
          <mat-error *ngIf="loginForm.submitted && passwordModel.invalid">
            Password is required
          </mat-error>
        </mat-form-field>
  
        <!-- Submit Button -->
        <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">
          Login
        </button>
        <mat-spinner *ngIf="Loading" diameter="30"></mat-spinner>
      </form>
    </mat-card>
  </div>
    